
header{
    text-align: center;
    color: #D4E09B;
    background-color: #A44A3F;
    font-size: 60px;
    padding: 20px;
    position: fixed;
    width:100%;
    display: grid;
    grid-template-columns: 2fr 7fr 2fr;
    grid-gap: 10px;
}
body{
    margin: 0;
}
a{
    color: #607744;
    text-decoration: none;
}
h1{
    color: #607744;
    text-decoration: none;
}
.songParagraph{
    font-size: 22px;
    margin-right: 8pc;
    margin-top: 2pc;
    line-height: 30px;
}
hr{
    width: 100pc;
    border-top: #34623F solid;
}
.construct_body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-top: 100px;
    text-align: center;
    color: #607744;
}
.genre_section{
    padding:20px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.genre_images{
    border: #34623F solid;
    border-width: 10px;
    width: 70%;
    object-fit: cover;
    height: 20pc;
    transition: transform .2s;
    background-position: center center;
    background-repeat: no-repeat;
}
.genre_images:hover{
    transform: scale(1.02);
}
.song_section{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 9pc;
    grid-gap: 10px;
}
.song_section2{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 1pc;
    grid-gap: 10px;
}
.song_text{
    padding: 20px;
}
.song_sheet{
    border: #34623F solid;
    border-width: 10px;
    width: 450px;
    object-fit: cover;
    height: 636px;
    background-position: center center;
    background-repeat: no-repeat;
}
.sheet_container{
    padding:20px;
    margin-bottom: 5%;
    text-align: center;
}
.home_button{
    height: 70px;
    width:0px;
}
